<body>
<div class="loading">
  <div class="container-fluid slanted">
    <img src="./sakura.png" class="loading_sakura">
    <img src="slanted_pink.png" class="slanted">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6 loading_content">
        <h1>Please Wait...</h1>
        <h3>Other Participants are Joining</h3>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>
<!--- <ul id="msgs"></ul>-->
<canvas id="canvas"></canvas>
<canvas id="sakura"></canvas>
</body>
<script>
  window.addEventListener('load', () => {
    let msgbox = document.getElementById('msgs');
    let form = document.getElementById('form');
    let sendMsg = document.getElementById('send-msg');
    let ws = new WebSocket('ws://' + window.location.host + '/websocket');

    ws.onopen = () => console.log('connection opened');
    ws.onclose = () => console.log('connection closed');
    var maxglobal=0
    ws.onmessage = m => {
      if (m.data=="ver"){
				var order = <%= session[:number] %>
				var	waitingTime=(order-1)*(0.09*11)
        console.log(maxglobal)
       setTimeout("restart()",((0.09*11)*1000*maxglobal)+1000)
				setTimeout("act()", waitingTime*1000);
			}else{
        var divide = parseInt(m.data)
        maxglobal = divide
        var order = <%= session[:number] %>
        load_done()
        show_tree(divide,order)
			}
    }

    sendMsg.addEventListener('click', () => sendMsg.value = '');

    form.addEventListener('submit', e => {
      ws.send(sendMsg.value);
      sendMsg.value = '';
      e.preventDefault();
    });
	});


  //load_done()
  function load_done(){
    $('.loading').css('visibility','hidden');
    $('.loading').css('transform','1s')
  }

  //show_tree()
  function show_tree(divide,order){
    var img = new Image();
    img.src = "./branch.svg";
    var cvs = document.getElementById('canvas');
    var ctx = cvs.getContext('2d');
    var width = window.innerWidth;
    var height = window.innerHeight;
    var ss = 1430/divide
    var vv =290/divide

    img.onload = function(){
      ctx.imageSmoothingEnabled = true;
      //ctx.drawImage(img,90,0,ss,ss*(820/1440),0,0,width,height)
      ctx.drawImage(img,vv*(order-1),0,ss,500,0,0,width,height)
    }
  }

	var cvsakura = document.getElementById('sakura');
		var ctsakura = cvsakura.getContext('2d');
		var imgsakura = new Image();
		imgsakura.src = "./flower.png";
		ctsakura.imageSmoothingEnabled = true;
		var sakuraCount = 0
function act() {

    // パラメータが無くなっていれば終了
    if(sakuraCount==10) {
			sakuraCount=0
			return};
    // 配列の先頭を使う

	tate = getRandomArbitrary(4,80)
	yoko = getRandomArbitrary(1,290)
    //TODO: 何かの処理
    ctsakura.drawImage(imgsakura,(sakuraCount+1)*29,tate,36,30);

    // 処理済みのパラメータ削除
    // 次の回の実行予約
    setTimeout(function(){
				act();
				sakuraCount ++
		}, 90);
    // これで１回の処理は終了
}
function restart(){
  ctsakura.clearRect(0,0,window.innerWidth,window.innerHeight)
}
function getRandomArbitrary(min, max) {
  return Math.random() * (max - min) + min;
}
</script>