<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>weby Lab</title>
	<link rel="stylesheet" type="text/css" href="../index.css">
</head>
<body>
<!--- <ul id="msgs"></ul>-->
<canvas id="canvas"></canvas>
<canvas id="sakura"></canvas>
</body>
</html>
<script>
  window.addEventListener('load', () => {
    let msgbox = document.getElementById('msgs');
    let form = document.getElementById('form');
    let sendMsg = document.getElementById('send-msg');
    let ws = new WebSocket('ws://' + window.location.host + '/websocket');

    ws.onopen = () => console.log('connection opened');
    ws.onclose = () => console.log('connection closed');
    ws.onmessage = m => {
      if (m.data=="hor"){
				act()
			}else{
				sakura()
			}
    }

    sendMsg.addEventListener('click', () => sendMsg.value = '');

    form.addEventListener('submit', e => {
      ws.send(sendMsg.value);
      sendMsg.value = '';
      e.preventDefault();
    });
	});
	var img = new Image();
	img.src = "./branch.svg";
	var cvs = document.getElementById('canvas');
	var ctx = cvs.getContext('2d');
	var width = window.innerWidth;
	var height = window.innerHeight;
	var ss = 1430/5
	var vv =290/5
	console.log(width,height)
	img.onload = function(){
      ctx.imageSmoothingEnabled = true;
			//ctx.drawImage(img,90,0,ss,ss*(820/1440),0,0,width,height)
			ctx.drawImage(img,vv*1,0,ss,500,0,0,width,height)
	}
	//sakura()
	function sakura(){
		var cvs = document.getElementById('sakura');
		var ctx = cvs.getContext('2d');
		var img = new Image();
		img.src = "./flower.png";
		img.onload = function(){
			ctx.imageSmoothingEnabled = true;
       ctx.drawImage(img,40,40,18,15);
    }
	}
	function sakura2(){
		var cvs = document.getElementById('sakura');
		var ctx = cvs.getContext('2d');
		var img = new Image();
		img.src = "./flower.png";
		img.onload = function(){
			ctx.imageSmoothingEnabled = true;
       ctx.drawImage(img,80,80,18,15);
    }
	}
	var arr=[[20,20],[80,70],[120,30],[140,50]]
	function sakura3(){
		var cvs = document.getElementById('sakura');
		var ctx = cvs.getContext('2d');
		var img = new Image();
		img.src = "./flower.png";
		ctx.imageSmoothingEnabled = true;
		img.onload = function(){
		array.forEach(element => {
			ctx.drawImage(img,element[0],element[1],18,15);
			console.log(element)
		});

		}
	}
	var cvsakura = document.getElementById('sakura');
		var ctsakura = cvsakura.getContext('2d');
		var imgsakura = new Image();
		imgsakura.src = "./flower.png";
		ctsakura.imageSmoothingEnabled = true;
	function act() {
    // パラメータが無くなっていれば終了
    if(arr.length==0) return;
    // 配列の先頭を使う
    param = arr[0];

    //TODO: 何かの処理
    ctsakura.drawImage(imgsakura,param[0],param[1],18,15);

    // 処理済みのパラメータ削除
    arr.shift();
    // 次の回の実行予約
    setTimeout(function(){
        act();
    }, 1);
    // これで１回の処理は終了
}
function getRandomArbitrary(min, max) {
  return Math.random() * (max - min) + min;
}
</script>