<div class="container-fluid">
  <div class="background">
    <img src="./pink.png" class="pink">
    <img src="./sakura.png" class="sakura">
  </div>
  <div class="row">
      <div class="col-3 main-content">
          <h1>Welcome</h1>
          <form action="/join" method="post">
            <button type="submit" name="join"><h2><i class="fas fa-paper-plane"></i></h2></button>
          </form>
      </div>
      <div class="col-9"></div>
  </div>
</div>
